@model MLCore.Carrito
@{
    ViewData["Title"] = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1 class="text-center">Carrito</h1>

@*Validacion para saber si existen o no productos mande una alerta*@
@if(Model.Carritos == null || Model.Carritos.Count == 0)
{
    <div class="alert alert-warning" role="alert">
        No hay productos agregados
    </div>
}
else
{
    <div class="btn-group d-flex" role="group" aria-label="Button group with nested dropdown">
        <button type="button" onclick="AbrirModal()" class="btn btn-dark"><i class="fa-solid fa-money-bill"></i>Comprar</button>
        <button type="button" class="btn btn-dark"><i class="fa-solid fa-broom"></i>Limpiar</button>
        <button type="button" class="btn btn-danger"><i class="fa-solid fa-door open"></i>Regresar</button>
    </div>
    <br/>
    <table class="table table-dark table-hover table-bordered table-responsive">
        <thead>
            <tr class="table-secondary">
                <td class="text-center">Nombre</td>
                <td class="text-center">Precio</td>
                <td class="text-center">Imagen</td>
                <td class="text-center">Agregar</td>
                <td class="text-center">Cantidad</td>
                <td class="text-center">Quitar</td>
                <td class="text-center">Eliminar</td>

            </tr>

        </thead>

        <tbody>

            @foreach(MLCore.Dulceria dulceria in Model.Carritos)
            {
                
                <tr>
                    <td class="text-center">@dulceria.Nombre</td>
                    <td class="text-center">@dulceria.Precio</td>
                        @if(dulceria.Imagen != null)
                        {
                            <td><img src="data:image/*;base64,@dulceria.Imagen" style="width:50px ; height:50px" /></td>

                        }
                        else
                        {
                            <td><img src="https://jacquethnos.com.ar/wp-content/uploads/woocommerce-placeholder-550x550.png" style="width:50px ; height:50px"  /></td>
                        }


                    
                    <td class="text-center"><button type="button" class="btn btn-success"></button> </td>
                    <td class="text-center">@dulceria.Cantidad</td>
                    <td class="text-center"><button type="button" class="btn btn-warning"></button> </td>
                    <td class="text-center"><button type="button" class="btn btn-danger"></button> </td>

                </tr>


            }


        </tbody>

    </table>

    <label>Total: $</label>
}
</div>

<div class="modal fade " id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            @using (Html.BeginForm("CarritoGetAll", "Dulceria", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-content">
                    <div class="modal-header alert-secondary">
                        <h5 class="modal-title" id="exampleModalLabel">Termina tu compra</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row text-center">
                            <div class="col-md-6">
                                @Html.Label("Numero de Tarjeta")
                                <div class="input-group ">
                                    <span class="input-group-text" id="addonStock"></span>
                                    <input type="text" class="form-control" />
                                </div>
                                @Html.Label("", null, new { @id = "lblStock" })
                            </div>
                            <div class="col-md-3">
                                @Html.Label("CVV")
                                <div class="input-group ">
                                    <span class="input-group-text" id="addonStock">CVV</span>
                                    <input type="text" class="form-control" />
                                </div>
                                @Html.Label("", null, new { @id = "lblStock" })
                            </div>
                            <div class="col-md-3">
                                @Html.Label("Vencimiento")
                                <div class="input-group ">
                                    <span class="input-group-text" id="addonStock"></span>
                                    <input type="month" class="form-control" />
                                </div>
                                @Html.Label("", null, new { @id = "lblStock" })
                            </div>
                        </div>
                        <hr />

                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                        <a onclick="ModalCompra()" id="btnGuardar" class="btn btn-dark">Pedir</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal fade " id="ModalCompra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header alert-success">
                    <h5 class="modal-title" id="exampleModalLabel">Completado!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <h2 class="text-center">Tu pedido esta en proceso!</h2>
                        <img src="https://cdn.pixabay.com/animation/2022/11/10/13/26/13-26-03-556_512.gif" width="50" height="520"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                    <a href="@Url.Action("GenerarPDF")" id="btnGuardar" class="btn btn-dark"> Resumen</a>
                </div>
            </div>
        </div>

</div>

@section Scripts{

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript">function AbrirModal() {
            $('#Modal').modal('show');
        }
        function ModalCompra() {
            $('#Modal').modal('hide');
            $('#ModalCompra').modal('show');
        }


      
</script>
}


