@model ML.Alumno
@{
    ViewBag.Title = "GetAllAlumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<h2>ASIGNAR MATERIAS</h2>


<hr />

<div class="conteiner">

    <table class="table table-dark">

        <thead class="table table-dark">

            <tr class="table table-dark">

                <th>IdAlumno</th>
                <th>Nombre</th>
                <th>ApellidoPaterno</th>
                <th>ApellidoMaterno</th>
                <th>Asignar Materia</th>
                
            </tr>

        </thead>

        <tbody>
            @foreach(ML.Alumno alumno in Model.Alumnos)
            {
                <tr>
                    <td>@alumno.IdAlumno</td>
                    <td>@alumno.Nombre</td>
                    <td>@alumno.ApellidoPaterno</td>
                    <td>@alumno.ApellidoMaterno</td>
                    <td><a class="btn btn-dark" href="@Url.Action("GetMateriaAsignada", "AlumnoMateria", new {IdAlumno = alumno.IdAlumno})">Asignar</a></td>
                    


                </tr>


            }


        </tbody>


    </table>



</div>